@import 'bourbon';

html
{
  overflow-y: scroll;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
}

body
{
  background: #ffffff;
  font: 13px/1.8 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  color: #000000;
  padding: 64px;
}

a
{
  color: #0080bf;

  &:hover
  {
    text-decoration: underline;
  }
}

section
{
  margin: 32px 0;

  &.landscape
  {
    max-width: 576px;
  }

  &.portrait
  {
    max-width: 384px;
  }

  &.left
  {
    margin-right: auto;
  }

  &.center
  {
    margin-left: auto;
    margin-right: auto;
  }

  &.right
  {
    margin-left: auto;
  }
}

header, footer
{
  margin: 0 auto;
}

img
{
  position: relative;
  width: 100%;
  height: auto;
}

div.asset
{
  position: relative;

  img
  {
    background: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

img[data-lighbox]
{
  cursor: -webkit-zoom-in;
  cursor:    -moz-zoom-in;
  background-repeat: no-repeat;
  background-size: cover;

  &.lightbox-animate
  {
    @include transition-property (transform);
    @include transition-duration(250ms);
    @include transition-timing-function(ease-in-out);
  }

  &.lightbox-opened
  {
    cursor: -webkit-zoom-out;
    cursor:    -moz-zoom-out;
  }
}

div.lightbox-background
{
  background: #ffffff;
  @include transition (opacity 250ms ease-in-out);
  opacity: 0.0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: -webkit-zoom-out;
  cursor:    -moz-zoom-out;

  &.lightbox-background-show
  {
    opacity: 0.95;
    visibility: visible;
  }

  &.lightbox-background-close
  {
    visibility: visible;
    cursor: auto;
  }
}

@media screen and (max-width: 568px)
{
  body
  {
    padding: 16px;
    font-size: 11px;
  }

  section
  {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}