@import 'bourbon';

html
{
  overflow-y: scroll;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
}

body
{
  background: #ffffff;
  font: 13px/1.8 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  color: #000000;
  padding: 64px;
}

a
{
  color: #0080bf;

  &:hover
  {
    text-decoration: underline;
  }
}

header, section, footer
{
  max-width: 600px;
}

header, footer
{
  margin: 0 auto;
}

section
{
  margin: 64px auto;
}

img
{
  position: relative;
  width: 100%;
  height: auto;
}

div.asset
{
  position: relative;

  img
  {
    background: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

img.lightbox-image
{
  cursor: -webkit-zoom-in;
  cursor:    -moz-zoom-in;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;

  &.lightbox-image-animate
  {
    @include transition-property (transform);
    @include transition-duration(250ms);
    @include transition-timing-function(ease-in-out);
  }

  &.lightbox-image-opened
  {
    cursor: -webkit-zoom-out;
    cursor:    -moz-zoom-out;
  }
}

div.lightbox-background
{
  background: #ffffff;
  @include transition (opacity 250ms ease-in-out);
  opacity: 0.0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: -webkit-zoom-out;
  cursor:    -moz-zoom-out;

  &.lightbox-background-show
  {
    opacity: 0.95;
    visibility: visible;
  }

  &.lightbox-background-close
  {
    visibility: visible;
    cursor: auto;
  }
}

a
{
  &.lightbox-previous, &.lightbox-next
  {
    position: fixed;
    display: none;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    top: 50%;
    z-index: 2;
    background-repeat: no-repeat;
    background-image: url(image_path('lightbox-icons.png'));
    background-size: 14px 28px;

    @include hidpi
    {
      background-image: url(image_path('lightbox-icons.retina.png'));
    }
  }

  &.lightbox-previous
  {
    left: 0;
    background-position: 0 0;
  }

  &.lightbox-next
  {
    right: 0;
    background-position: 0 -14px;
  }
}


@media screen and (max-width: 568px)
{
  body
  {
    padding: 16px;
    font-size: 11px;
  }

  section
  {
    margin: 16px auto;
  }
}